*.o
*\#
\#*
*.o
*~
*.gcda
*.gcno
*.cmd
.tmp_versions
*.symvers
*.mod.c
*.ur-safe
*.order
*.exe
*.S
*.i
*.json
*.csv
*.ko
.\#*
*.out
*.log
*.d
*.d.*
*.a
.pristine_spec2017
*.iso
papi-*.tar.gz
papi-*
pcm
pin-*-gcc-linux*
pin-tools/obj-*
core
benchmarks/spec2017
benchmarks/new-*.patch
.DS_Store
*.gv
*-gv.pdf
